.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

/* jquery plagin type writer animation  */
.tt {
    display:none;
  }
  .ttt::after {
      content :"\0020";
      animation: pulse1s infinite;
      color:transparent;
      border-right:3px solid black;
      margin-left:4px;
    }
    @keyframes pulse {
      0% {
         border-right:3px solid  black;
      }
      50% {
         border-right:3px solid  transparent;
      }
      100% {
         border-right:3px solid  black;
      }
    }

